.content {
    flex-direction: column;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.max_title {
    font-size: 2.7rem;
    font-weight: bold;
}

.tips p {
    text-align: center;
}

.title {
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.content_1 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message {
    width: 350px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 350;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    margin: 15px 25px 15px 25px;
    overflow: hidden;
    position: relative;
}

.message:hover {
    width: 450px;
    height: 220px;
    font-size: 30px;
    background-color: white;
    box-shadow: 0 0 300px white;
}

.text,
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    display: block;
    text-align: center;
    line-height: 100px;
}

.image {
    height: 180px;
}

.website-button {
    display: none;
    width: 500px;
    height: 40px;
    background: white;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.website-button img {
    width: 40px;
    height: 40px;
    margin: 0 230px;
}

.message:hover .website-button {
    display: block;
}

.message:hover .text {
    opacity: 0;
}

.message:hover .image {
    opacity: 1;
}

.text {
    opacity: 1;
}

.image {
    opacity: 0;
}

a {
    text-decoration: none;
    color: black;
}

#no_button:hover {
    height: 180px;
}