* {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-user-drag: none;
}

/* 背景高斯模糊+变暗 */
.message,
.indexText,
.message_other,
.pcNav,
.bottom,
.mobileNav,
.navBtn:active,
.switchBtn:active,
.logBox,
h3,
.to_am,
.refresh,
.player,
.introductionTxt {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
}

/* 这些元素需要水平垂直居中 */
.message,
.message_other,
.introduction,
.pcNav,
.navBtn,
.icon,
.mobileNav,
.switchBtn,
.logBox,
.date,
.to_am,
.refresh,
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

.top {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  width: 8vw;
  height: 95vh;
  display: flex;
  align-items: center;
}

.right {
  width: 92vw;
  height: 95vh;
  overflow: hidden scroll;
}

.rightBox {
  margin: 15px 15px 0 0;
}

.h1Icon {
  width: 40px;
  margin-right: 1vw;
}

.bottom {
  width: 100vw;
  height: 5vh;
}

h1,
h2,
h3 {
  margin-bottom: 1vw;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 28px;
}

h3 {
  width: max-content;
  padding: 15px;
  border-radius: 15px;
  font-weight: 400;
}

.messageBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
  margin-bottom: 1vw;
}

.message {
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

@media screen and (min-width: 601px) {

  /* 设定有交互属性的元素的样式 */
  .message:hover,
  .navBtn:hover,
  .logBox:hover,
  .message_other:hover,
  .to_am:hover,
  .refresh:hover,
  .heading img:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 600px) {

  /* 小屏幕样式 */
  .top {
    flex-direction: column-reverse;
  }

  .left {
    width: 100vw;
    height: 5vh;
    margin-bottom: 1vh;
    justify-content: center;
  }

  .right {
    margin-left: 0;
    width: 100vw;
    height: 88vh;
    margin-bottom: 1vh;
  }

  .rightBox {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bottom {
    width: 100vw;
    height: 5vh;
  }

  h3 {
    font-size: 16px;
  }

  .h1Icon {
    margin-right: 2vh;
  }

  .messageBox {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .message {
    width: 70vw;
    height: 5vh;
    padding: 15px;
  }
}

.message:active,
.navBtn:active,
.logBox:active,
.to_am:active,
.message_other:active,
.refresh:active,
.heading img:active {
  transform: scale(0.97);
  box-shadow: 0 0 10px white;
  background-color: black;
}