@import "tailwindcss";
:root {
  --background-blur: 20px
}

* {
  margin: 0;
  padding: 0;
}

.n-layout-footer,
.n-card,
.n-drawer {
  backdrop-filter: blur(var(--background-blur));
  -webkit-backdrop-filter: blur(var(--background-blur));
}

.n-spin-body {
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #222;
}

.interaction {
  transition: scale 0.15s;
}

@media screen and (min-width:768px) {
  .interaction:hover {
    scale: 1.03;
  }

  .interaction:active {
    scale: 1;
  }
}

@media screen and (max-width:768px) {
  .interaction:active {
    scale: 0.97;
  }

  .menu-button {
    border-radius: 0;
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0
  }
}