@import "tailwindcss";

.interaction {
    transition: scale 0.15s;
}

@media screen and (min-width:768px) {
    .interaction:hover {
        scale: 1.03;
    }

    .interaction:active {
        scale: 1;
    }
}

@media screen and (max-width:768px) {
    .interaction:active {
        scale: 0.97;
    }
}